@{
    Layout = "_Layout";
    ViewData["Title"] = "AboutUs";
}
<link href="~/css/AboutUs.css" rel="stylesheet" />
<head>

</head>
<body>
    <div class="header">
        <h2>ABOUT US</h2>
        <hr />
    </div>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left about-text">
                    <h3 class="wow fadeInUp title">Our goals in Millimeter</h3>
                    <p class="wow fadeInUp story-description ">
                        <ul>
                            <li>
                                Millimeter was founded three years ago. The name was
                                three years ago. The name was
                            </li>
                            <li>
                                Millimeter was founded three years
                                three years ago. The name was three years ago. The name wasago. The name was
                            </li>
                            <li> Millimeter was founded three years ago. The name was </li>
                            <li>
                                Millimeter was founded three years ago.
                                three years ago. The name wasThe name was
                            </li>
                            <li>
                                Millimeter was founded three years ago.
                                three years ago. The name wasThe name was
                            </li>

                        </ul>
                   
                    
                       
                    </p>
                  
                </div>
                <div class="col-md-6 wow fadeInUp about-text">
                    <h3 class="wow fadeInUp title"> The Experiance </h3>
                    <div class="progress-bars">
                        <p>Interior Design<p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>Implementation And Supervison</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>furniture</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="goal" id="about">
        <h1 class="title"> Our Story</h1>
        <hr />
        <p class="text-center">
            Millimeter was founded three years ago. The name was chosen
            as an expression of accuracy and attention to the finer details.
            The company started small projects to reach at least 100 different
            projects today, between houses, restaurants, companies, clinics and offices.
            We also had the opportunity to collaborate with major companies, hospitals
            and celebrities to design their own projects.
            Millimeter started in Amman with two engineers, then our family grew up
            and we became a team.
            We continued to advance and reach the United Arab Emirates - Dubai with
            a special team run by elite engineers. But we're not going to stop there !
            We aspire to see our name spread all over the world .
            Our goal at Millimeter is to come up with projects with the utmost
            accuracy in terms of design and implementation. Because our motto 
            from the beginning is
            <br />
            " We care about every millimeter "
        </p>
    </div>

</body>
